*.nja
.idea
.cache

MANIFEST

*.py[cod]
*.so

dist
build
*.egg
*.egg-info

.ipynb_checkpoints/
.benchmarks/

.coverage

__pycache__/
.eggs/

dev
log.txt


..gitignore.kate-swp
.travis.yml
for_dev.rst
.pytest_cache

pydgrid.egg-info

generate
